<div>

<table>

    <tr ng-repeat="row in range(6) track by $index" class="{{$index}}" ng-init="rowIndex=$index" ng-class="$index">

        <td ng-repeat="col in range(6) track by $index" col="{{$index}}" row="{{rowIndex}}" ng-class="formatCell(rowIndex,$index)"> {{ displayCoord(rowIndex,$index); }} </td>
    </tr>

</table>


<div>

    it would be a simple matter (of a couple of hours) to execute each instruction and display it on a grid.

    I've started by setting the class of each tr and td element with an indexed classed.

    You could set ng-class as a function in the scope


</div>


</div>