<div>

<table>

    <tr ng-repeat="row in range(6) track by $index" class="{{$index}}" ng-init="rowIndex=$index" ng-class="$index">

        <td ng-repeat="col in range(6) track by $index" col="{{$index}}" row="{{rowIndex}}" ng-class="roverOnIt(rowIndex,$index)" xng-class="formatCell(rowIndex,$index)"> {{ displayCoord(rowIndex,$index); }}<br>
       <span style="font-size:xx-small">row: {{rowIndex}},col:{{$index}}</span></td>
    </tr>

</table>


<div>

   Current disposition (<span class="pink">Rover 1</span>) : {{marsRovers.rover1() }}<br>
   Current disposition (<span class="red">Rover 2)</span> : {{ marsRovers.rover2() }}<br>
</div>

    <div>
        <input type="button" value="Replay" ng-click="replay();" />

    </div>

</div>