<div>

<table>

    <tr ng-repeat="row in range(6) track by $index" class="{{$index}}" ng-init="rowIndex=$index" ng-class="$index">

        <td ng-repeat="col in range(6) track by $index" col="{{$index}}" row="{{rowIndex}}" ng-class="roverOnIt(rowIndex,$index)" xng-class="formatCell(rowIndex,$index)"> {{ displayCoord(rowIndex,$index); }} </td>
    </tr>

</table>


<div>

   Current disposition (Rover 1) : {{ marsRovers.rover1() }}<br>
   Current disposition (Rover 2) : {{ marsRovers.rover2() }}<br>
</div>

    <div>
        <input type="button" value="Replay" ng-click="replay();" />

    </div>

</div>